<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>NSHandsTrackingUsageDescription</key>
	<string>Tracking Hands For Gameplay</string>
	<key>UIAppFonts</key>
	<array>
		<string>SoulcraftGX.ttf</string>
		<string>FormaDJRMicro-Regular.ttf</string>
		<string>FormaDJRMicro-Medium.ttf</string>
		<string>FormaDJRMicro-Light.ttf</string>
		<string>FormaDJRMicro-ExtraLight.ttf</string>
		<string>FormaDJRMicro-ExtraBold.ttf</string>
		<string>FormaDJRMicro-Bold.ttf</string>
		<string>FormaDJRMicro-Black.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationPreferredDefaultSceneSessionRole</key>
		<string>UIWindowSceneSessionRoleApplication</string>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
</dict>
</plist>
